<%- include partials/header.ejs %>
<div class="container pb-5">
  <div class="block mt-3"></div>

  <div class="columns is-vcentered">
    <div class="column">
      <div class="block">
        <h1 class="is-size-3 has-text-left">
          Generate Emacs and Vim theme from VS Code theme.json
        </h1>
        <p>* Can be extended to other editors. <a href="<%= meta.basePath %>/faq#extending">(faq)</a></p>
      </div>
      <div class="card">
        <div class="card-content">
          <p class="mb-1">Few nice looking VS Code theme's json files:</p>
          <table class="table is-bordered is-fullwidth">
            <tr>
              <td>Bluloco <small>(light)</small></td>
              <td>
                <a
                  href="https://raw.githubusercontent.com/uloco/theme-bluloco-light/main/themes/bluloco-light-color-theme.json"
                  target="_blank"
                  >Link to theme.json</a
                >
              </td>
            </tr>
            <tr>
              <td>Palenight <small>(dark)</small></td>
              <td>
                <a
                  href="https://raw.githubusercontent.com/whizkydee/vscode-palenight-theme/master/themes/palenight.json"
                  target="_blank"
                  >Link to theme.json</a
                >
              </td>
            </tr>
          </table>
          <a href="<%= meta.basePath %>/faq#json">How to find VS Code theme's json file?</a>
        </div>
      </div>

      <div class="mt-5">
        <a class="button is-primary is-outlined" href="<%= meta.basePath %>/screenshots">Screenshots</a>
      </div>
    </div>

    <div class="column is-two-thirds">
      <div class="card">
        <div class="card-content">
          <form id="form" autocomplete="off">
            <div class="field">
              <label class="label">
                Paste VS Code theme's json contents below.
              </label>
              <div id="input-wrapper" class="control">
                <p id="input-error" class="has-text-danger is-hidden"></p>
                <textarea
                  id="input"
                  class="textarea"
                  placeholder="Paste contents of theme.json"
                  spellcheck="false"
                ><%- include sample.theme.json %></textarea>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio" name="editor" value="emacs" checked />
                  Emacs
                </label>
                <label class="radio">
                  <input type="radio" name="editor" value="vim" />
                  Vim
                </label>
              </div>
            </div>
            <div class="field is-flex is-align-items-baseline">
              <input
                class="button is-primary is-medium"
                name=""
                type="submit"
                value="Generate"
              />&nbsp;
              <button id="clear" class="button is-small is-text">Clear</button>
            </div>
            <p id="input-help" class="help is-dark is-hidden">
              Options changed, please Generate again.
            </p>

          </form>

          <article class="message is-info mt-3">
            <div class="message-body">
              <small>
                Note: Theme conversion depends on fallbacks for unsupported
                colors, editor defaults are adjusted automatically, so its
                better to modify the color values in the generated theme for
                exact change.
              </small>
            </div>
          </article>
        </div>
      </div>
      <!-- /.card  -->
    </div>
    <!-- /.column -->
  </div>
  <!-- /.columns  -->
</div>
<!-- /.container  -->

<div class="container pb-5">
  <div id="result" class="card mt-5 is-hidden">
    <div class="card-content">
      <div class="columns">
        <div class="column is-one-third">
          <div class="block">
            <div class="level">
              <div class="level-item is-justify-content-left">
                <h5 class="is-size-5">How to use?</h5>
              </div>
              <div class="level-item">
                <button class="button is-light is-invisible"></button>
              </div>
            </div>
          </div>
          <div id="result-usage"></div>
          <hr />
          <div class="block">
            <h5 class="is-size-5">Generated Color Palette</h5>
          </div>
          <div id="result-colors"></div>
        </div>
        <div class="column is-two-thirds">
          <div class="block">
            <div class="level">
              <div class="level-item is-justify-content-left">
                <h5 class="is-size-5">
                  Generated <span id="editor-name">Editor</span> Theme
                </h5>
              </div>
              <div class="level-item is-justify-content-right">
                <button
                  id="copy-button"
                  class="button is-light clip"
                  data-clipboard-target="#result-theme"
                >
                  Copy
                </button>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <a
                  id="download"
                  class="button is-success"
                  data-clipboard-target="#result-theme"
                >
                  <span class="material-icons md-24">download</span>
                  Download
                </a>
              </div>
            </div>
          </div>
          <pre
            id="result-theme"
            class="has-background-dark has-text-white"
            spellcheck="false"
            readonly
          ></pre>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include partials/credits.ejs %>
<%- include partials/scripts.ejs %>
<%- include partials/footer.ejs %>
